<hf-header></hf-header>
<main class="main-content">
  <hf-categories-menu
    [count]="(movies$ | async).length"
    [switchCategory]="switchCategory"
    [categories]="categories$ | async"
  ></hf-categories-menu>

  <hf-movies-list
    [movies]="movies$ | async"
    [toggleNav]="toggleNav"
    [pictureUrl]="pictureUrl"
  >
  </hf-movies-list>

  <hf-navbar
    [toggle]="toggle"
    [toggleNav]="toggleNav"
    [searchTerm$]="searchTerm$"
    (searchEmitter)="search($event)"
  >
    ></hf-navbar
  >
</main>
